[Desktop Entry]
Name=Windows-Eleven
X-KDE-PluginInfo-Author=zayronxio
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-Email=adolfo@librepixels.com
X-KDE-PluginInfo-License=GPLv3
X-KDE-PluginInfo-Website=https://store.kde.org/p/1977804/
X-KDE-PluginInfo-Name=Windows-Eleven
X-KDE-PluginInfo-Version=1.3.2
